<div class="backdrop" (click)="closeSearch()"></div>
<mat-toolbar [color]="'white'" class="mat-elevation-z4" (click)="handleClick()">
	<mat-toolbar-row>
		<mat-form-field [color]="'accent'" [floatLabel]="'never'">
			<input matInput autofocus #playerSearch type="text" placeholder="Search for a Guardian" [formControl]="myControl" [matAutocomplete]="auto" (keyup.enter)="searchPlayer(playerSearch.value)">
			<mat-icon matSuffix (click)="searchPlayer(playerSearch.value)">search</mat-icon>
		</mat-form-field>
		<mat-autocomplete #auto="matAutocomplete">
			<ng-container *ngFor="let option of options">
				<mat-option *ngIf="showUser(option)" [value]="getUserName(option)" (click)="getPlayer(getUserName(option))">{{getUserName(option)}}<span class="platform">{{getPlatformName(option)}}</span></mat-option>
			</ng-container>
		</mat-autocomplete>
	</mat-toolbar-row>
</mat-toolbar>