<div class="backdrop" (click)="closeSearch()"></div>
<mat-toolbar [color]="'white'" class="mat-elevation-z4" (click)="handleClick()">
	<mat-toolbar-row>
		<mat-form-field [color]="'accent'" [floatLabel]="'never'">
			<input matInput #playerSearch type="text" placeholder="Search for a Guardian" [formControl]="myControl" [matAutocomplete]="auto" (keyup.enter)="searchPlayer(playerSearch.value)">
			<mat-icon matSuffix (click)="searchPlayer(playerSearch.value)">search</mat-icon>
		</mat-form-field>
		<mat-autocomplete #auto="matAutocomplete">
			<mat-option *ngFor="let option of options" [value]="option" (click)="searchPlayer(option)">{{option}}</mat-option>
		</mat-autocomplete>
	</mat-toolbar-row>
</mat-toolbar>