@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.backdrop {
    position: absolute;
    display: block;
    top: 0;
    height: 100vh;
    width: 100vw;
    content: '';
    z-index: 5;
}

.mat-toolbar {
    position: absolute;
    display: flex;
    padding: 24px 0 16px;
    margin: 0;
    z-index: 5;
    top: $header-large;

    @include breakpoint(mobile) {
        top: $header-small;
    }

    animation: appear 0.3s 1 normal ease-out forwards;
}

mat-toolbar-row {
    justify-content: center;
}

mat-form-field {
    width: 300px;
}

::ng-deep {
    .mat-option-text {
        display: flex !important;
    
        .platform {
            font-weight: bold;
            margin-left: auto;
        }
    }
}

@keyframes appear {
    0%   {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }