<div class="global-container">
	<div class="container">
		<mat-card *ngIf="currentUser" [ngStyle]="{ 'background-image' : (currentUser.profileThemeName | themeBackground) | styleURL }">
			<mat-card-header>
				<div mat-card-avatar class="avatar" [ngStyle]="{ 'background-image' : (BungieCMSRootPath + currentUser.profilePicturePath) | styleURL }"></div>
				<mat-card-title>{{currentUser.blizzardDisplayName}}</mat-card-title>
				<mat-card-subtitle>{{currentUser.displayName}}</mat-card-subtitle>
			</mat-card-header>
		</mat-card>
		<div class="stats-container" [ngSwitch]="selected">
			<app-all-stats *ngSwitchCase="'all-stats'"></app-all-stats>
			<app-strike-stats *ngSwitchCase="'strike-stats'"></app-strike-stats>
			<app-nightfall-stats *ngSwitchCase="'nightfall-stats'"></app-nightfall-stats>
			<app-raid-stats *ngSwitchCase="'raid-stats'"></app-raid-stats>
			<app-all-pve-stats *ngSwitchCase="'all-pve-stats'"></app-all-pve-stats>
			<app-gambit-stats *ngSwitchCase="'gambit-stats'"></app-gambit-stats>
			<app-control-stats *ngSwitchCase="'control-stats'"></app-control-stats>
			<app-clash-stats *ngSwitchCase="'clash-stats'"></app-clash-stats>
			<app-iron-banner-stats *ngSwitchCase="'iron-banner-stats'"></app-iron-banner-stats>
			<app-trials-stats *ngSwitchCase="'trials-stats'"></app-trials-stats>
			<app-all-pvp-stats *ngSwitchCase="'all-pvp-stats'"></app-all-pvp-stats>
		</div>
	</div>
</div>