@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

:host {
    width: 100%;
}

.container {
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
}

mat-card {
    flex: 0 0 auto;
    width: 89%;
    max-width: 600px;
    margin: 0 auto 16px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    mat-card-title, mat-card-subtitle {
        font-family: neue-haas-grotesk-display, sans-serif !important;
        font-weight: bold;
    }

    mat-card-content {
        width: 100%;
    }
}

::ng-deep {
    .stats-list {
        .mat-list-item-content {
            color: $primary-dark !important;
            justify-content: space-between;

            .percentage {
                color: $primary-accent !important;
            }
        }
    }
}
