$mat-black: (
    50 : #e5e4e4,
    100 : #bebcbb,
    200 : #93908e,
    300 : #686461,
    400 : #47423f,
    500 : #27211d,
    600 : #231d1a,
    700 : #1d1815,
    800 : #171411,
    900 : #0e0b0a,
    A100 : #ffa953,
    A200 : #ff9020,
    A400 : #ec7600,
    A700 : #d36900,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$mat-blue: (
    50 : #e8f0f8,
    100 : #c5daee,
    200 : #9ec2e3,
    300 : #77aad7,
    400 : #5a97cf,
    500 : #3d85c6,
    600 : #377dc0,
    700 : #2f72b9,
    800 : #2768b1,
    900 : #1a55a4,
    A100 : #dae9ff,
    A200 : #a7caff,
    A400 : #74abff,
    A700 : #5b9cff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-orange: (
    50 : #fcf2e7,
    100 : #f8dec3,
    200 : #f3c89c,
    300 : #eeb274,
    400 : #eaa256,
    500 : #e69138,
    600 : #e38932,
    700 : #df7e2b,
    800 : #db7424,
    900 : #d56217,
    A100 : #ffffff,
    A200 : #ffe3d4,
    A400 : #ffc3a1,
    A700 : #ffb287,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);